!!! Please note that I did 16.3 - 16.5 so that I have a database with data to connect to. If it was intended to show connecting to a database that doesn't exist or a database with no data, please let me know and I will fix it accordingly. !!!

In [1]:
#11.1
import zoo

zoo.hours()

Open 9-5 daily

In [2]:
#11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [3]:
#16.3

import csv

# Data to write to the CSV file
books_data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Mi√©ville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]

# Open the file in write mode with utf-8 encoding
with open('books2.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)

    # Write the rows of data to the CSV file
    writer.writerows(books_data)

print("CSV file 'books2.csv' has been created successfully.")

CSV file 'books2.csv' has been created successfully.

In [4]:
#16.4

import sqlite3

# Connect to SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create the 'books' table with the specified fields
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

print("Database and table created")

Database and table created

In [5]:
#16.5

import sqlite3
import csv

# Connect to SQLite database (this should already be created in exercise 16.4)
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Open the CSV file to read its data
with open('books2.csv', mode='r', encoding='utf-8') as file:
    # Create a CSV reader object
    csv_reader = csv.reader(file)
    
    # Skip the header row
    next(csv_reader)

    # Insert data into the 'books' table
    for row in csv_reader:
        title, author, year = row  # Unpack the CSV row into variables
        cursor.execute('''
            INSERT INTO books (title, author, year)
            VALUES (?, ?, ?)
        ''', (title, author, year))

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

print("Data from 'books2.csv' has been successfully inserted into the 'books' table.")

Data from 'books2.csv' has been successfully inserted into the 'books' table.

In [6]:
#16.8 

from sqlalchemy import create_engine, Table, MetaData

# Create a connection to the SQLite database
engine = create_engine('sqlite:///books.db')

# Create a MetaData instance to reflect the existing database schema
metadata = MetaData()

# Reflect the 'books' table from the database
books = Table('books', metadata, autoload_with=engine)

# Connect to the database
with engine.connect() as connection:
    # Query to select distinct titles from the 'books' table in alphabetical order
    result = connection.execute(books.select().distinct().order_by(books.c.title))

    # Print each title from the result
    for row in result.mappings():  # Use .mappings() to access column names
        print(row['title'])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!